[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymc3 = "*"
pandas = "*"
theano = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
autopep8 = "*"
flake8 = "*"
plotly = "*"
arviz = "*"
graphviz = "*"

[requires]
python_version = "3.8"
